<style>
.custom-navbar {
  background-color: #c5e0ec !important;
}
.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  color: #212529 !important; /* Black text */
  font-weight: bold;
}
</style>

<nav class="navbar navbar-expand-lg custom-navbar mb-3">
  <a class="navbar-brand" href="#">Welcome to Lion Help!</a>
  <ul class="navbar-nav ml-auto">
    <!-- Add nav links here, e.g.
    <li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>
    -->
  </ul>
</nav>
